/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.heroBannerText h1{
  font-size: calc(var(--ifm-h1-font-size) * 1.2);
}
.heroBannerText p{
  font-size: calc(var(--ifm-h1-font-size) * 0.7);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
